{% extends "base.html" %}

{% block content %}

<section id="about" class="about">
    <div class="about-content">
        <h2>About Me</h2>
        <p>
            Hi there! I'm Andrew a passionate developer and hackathon organizer with a love for simplicity and clean code!
            I thrive on creating incredible experiences for my fellow developers through hackathons like StormHacks hosting 1000+ people
            and other various events that bring the developer community together. In my free time (What is free time XD) I love 
            watching my favourtite LOL team, T1 win it all and hanging out with friends. (Which mostly ends up being work). 
        </p>
        <img src="./static/img/T1.jpeg" alt="T1 Photo" class="about-photo">
    </div>
</section>

<section>
    <h2 id="experience" style="text-align: center;">Work Experience</h2>
    <div>
        {% if experience %}
        <ul class="listBlock">
            {% for job in experience %}
            <li>
                <h3>{{ job.position }} at {{ job.organization }}</h3>
                <p>{{ job.description }}</p>
                <p><strong>Duration:</strong> {{ job.duration }}</p>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No work experience listed.</p>
        {% endif %}
    </div>
</section>

<section>
    <h2 id="education" style="text-align: center;">Education</h2>
    {% if education %}
    <ul class="listBlock">
        {% for school in education %}
        <li>
            <h3>{{ school.degree }} at {{ school.institution }}</h3>
            <p><strong>Graduation Year:</strong> {{ school.year }}</p>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No Education listed.</p>
    {% endif %}
</section>
<div class="map" style="text-align: center;">
    <div id="map-picture" class="map-picture">
        <img src="./static/img/map.png">
    </div>
</div>  

{% endblock %}