{% extends "base.html" %}

{% block content %}

<section id="about" class="about">
    <div class="about-content">
        <h2>About Me</h2>
        <p>
            Hi there! I'm Andrew, a passionate developer and hackathon organizer who loves simplicity, clean code, and building meaningful experiences.

I thrive on bringing the developer community together through events like StormHacks, which hosts over 1,000 participants, along with other initiatives that foster creativity and collaboration.

In my (rare) free time, I enjoy cheering on my favorite League of Legends team, T1, (as shown below) and hanging out with friends — though let’s be honest, it usually turns into more work (the fun kind! XD).
            If you ever need me don't hesitate to reach out to me on my LinkedIn or Instagram! 
        </p>
        <img src="./static/img/T1.jpeg" alt="T1 Photo" class="about-photo">
    </div>
</section>

<section>
    <h2 id="experience" style="text-align: center;">Work Experience</h2>
    <div>
        {% if experience %}
        <ul class="listBlock">
            {% for job in experience %}
            <li>
                <h3>{{ job.position }} at {{ job.organization }}</h3>
                <p>{{ job.description }}</p>
                <p><strong>Duration:</strong> {{ job.duration }}</p>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No work experience listed.</p>
        {% endif %}
    </div>
</section>

<section>
    <h2 id="education" style="text-align: center;">Education</h2>
    {% if education %}
    <ul class="listBlock">
        {% for school in education %}
        <li>
            <h3>{{ school.degree }} at {{ school.institution }}</h3>
            <p><strong>Graduation Year:</strong> {{ school.year }}</p>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No Education listed.</p>
    {% endif %}
</section>
<div class="map" style="text-align: center;">
    <div id="map-picture" class="map-picture">
        <img src="./static/img/map.png">
    </div>
</div>  

{% endblock %}
